<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document). ready(function (){
            
            var socket = io();
            socket.on('update_count', function(data)
            {
                console.log(data);
                $('#times').html(`${data.num}`);
            })

            $('#push').on("click", function()
            {
                socket.emit('update_count');
            });


            $('#reset').on("click", function()
            {
                socket.emit('reset_count');
            })

            socket.on('reset_count', function(data)
            {
                console.log(data);
                $('#times').html(`${data.num}`);
            })
            // socket.on('update_count', function(data)
            // {
            //     console.log(data);
            //     $('#times').html(`${data.num}`);
            // })

        })
    </script>
</head>
<body>
    <div>
        <h1>The button has been pushed <span id="times"></span> time(s)</h1>
    </div>
    <div>
        <h3>Push the button to update the count!</h3>
        <button class="btn btn-primary" id="push">Push the Epic Button</button>
        <button class="btn btn-danger" id="reset">Reset count</button>
    </div>
</body>
</html>